*{
    margin: 0;
    border: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

hr{
    border-top: 3px solid #000080;
    width: 100%;
}

header{
    background-color: #000080;
    width: 100%;
    color: #FFD700;
    text-align: center;
    border-bottom: 3px solid yellow;
}

header h1{
    font-size: 5em;
    padding: 5px;
}

header h2{
    font-style: italic;
    text-align: right;
    padding: 2px;
    color: yellow;
}

h3{
    font-size: 25px;
}

header table{
    width: 100%;
}

header nav table{
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}

header nav a{
    text-decoration: none;
    color: #FFD700;
    font-size: 1.5em;
}

header nav a:hover{
    background-color: yellow;
    color: #000080;
    text-decoration: none;
}

main{
    color: #000080;
    background-color: #FFD700;
}

main h2{
    color: #008080;
    font-size: 5em;
    text-align:center;
}

main p{
    font-size: 2em;
    background-color: rgb(241, 225, 45);
    border: 2px solid #000080;
    margin: 10px 100px;
    text-align: center;
    
}

#invite{
    padding: 20px;
    text-align: center;
    margin-bottom: 15px;
}

#invite p{
    padding: 15px 30px;
}

#rules{
    padding: 20px;
    text-align: left;
    margin-bottom: 15px;
}

#rules ul li{
    font-size: 25px;
}

figure{
    font-size: 25px;
    background-color: rgb(241, 225, 45);
    padding: 10px;
    border: 2px solid #000080;
    margin-left: 15px;
}

#visionBoard
{
    text-align: center;
    margin-bottom: 15px;
}

#visionBoard table
{
    width: 100%;
    padding: 10px;
}

#visionBoard img{
    height: 300px;
    width: 300px;
}

#travel{
    background-color: lightblue;
    display: inline-block;
}

#health{
    background-color: rgb(239, 92, 92);
    display: inline-block;
}

#career{
    background-color: rgb(97, 238, 97);
    display: inline-block;
}

#rel{
    background-color: rgb(232, 232, 122);
    display: inline-block;
}

#travel, #health, #career, #rel{
    border: 2px solid #000080;
    height: 520px;
    width: 350px;
}

#travel ul, #health ul, #career ul, #rel ul{
    list-style: none;
    color: green;
    font-size: 20px;
    padding: 10px;
}

#schedule{
    text-align: center;
}

#schedule img{
    height: 500px;
    width: 500px;
}

figure.poster{
    display: inline-block;
    padding: 20px;
    margin: 30px;
}

figure.video{
    display: inline-block;
    width: 75%;
    margin: 20px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

.schedule-table tbody tr:nth-child(odd), #events table tbody tr:nth-child(odd)
{
    background-color: rgb(237, 219, 119);
}

.schedule-table {
    width: 75%;
    background-color: #F5DEB3;
    border: 1px solid #000080;
    text-align: center;
}
.schedule-table th, .schedule-table td {
    border: 1px solid #000080;
    padding: 5px;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif; /* Applied to all cells */
}

.schedule-table caption {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 32px;
    color: #000080;
    margin-bottom: 10px;
}

thead th {
    font-size: 32px;
    color: #000080;
    background-color: lightyellow;
}

.schedule-table tbody td {
    font-size: 24px;
    color: #008000;
}

.form-container {
    width: 40%;
    background-color: #F5DEB3;
    border: 1px solid #000080;
    margin: 10px auto;
    text-align: center;
    padding: 20px;
}
.form-container td {
    padding: 5px;
}

label {
    color: #008000;
    font-size: 24px;
}

#events{
    margin-bottom: 10px;
}


#events table {
    width: 75%;
    background-color: #F5DEB3;
    border: 1px solid #000080;
}
#events table th, #events table td {
    border: 1px solid #000080;
    padding: 5px;
    text-align: center;
}
#events caption {
    color: #000080;
    font-size: 32px;
    margin-bottom: 10px;
}
#events th {
    color: #000080;
    font-size: 32px;
}
#events td {
    color: #008000;
    font-size: 24px;
}

#buttons{
    text-align: center;
}

footer{
    border-top: 2px solid yellow;
}

footer table {
    width: 100%;
    background-color: #000080;
}

footer td {
    color: #FFD700;
    font-size: 24px;
    text-align: center;
}

footer a {
    color: #FFD700;
    text-decoration: none;
}

.thank-you
{
    background-color:#FFD700;
    color: #000080;
    text-align: center;
    padding: 100px 0px;
}